<!DOCTYPE html>
<html>
    <head>
        <title>Logga in</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include template/header.ejs%>

        <h1>Logga in</h1>

    </body>
</html>
