<!DOCTYPE html>
<html>
    <head>
        <title>Marknad</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include template/header.ejs%>

        <h1>Om</h1>

    </body>
</html>
